{% extends "bazowy.html" %}

{% block content %}
    <h1>Czesc, {{ current_user.username }}!</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.tekst.label }}<br>
            {{ form.tekst(size=32) }}
            {% for error in form.tekst.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>


    {% for post in posts %}
    <div><p>{{ post.name }} pamisal/a: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}